 body {
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 1;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.newsticker_wrapper {
    background: #000 url('clean_red/wrapper_bg.png') no-repeat bottom center;
    font: 14px Arial, Helvetica, sans-serif;
    color: #fc0202;
   /* border-top: 2px solid #e4e5e5;
    border-bottom: 2px solid #e4e5e5;*/
    padding: 1px 0 !important;
    line-height: 23px;
    height: 23px;
    -webkit-text-size-adjust: none;
} 

.newsticker_wrapper h4 {
	color: #be1e2d;
	text-transform: uppercase;
	border-right: 2px solid #e4e5e5;
	overflow: hidden;
	font-weight: bold;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 9px;
}

.newsticker_wrapper a {
    color: #be1e2d;
}

.newsticker {
    margin: 0;
    padding: 0;
}

.newsticker li {
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 5px;
}

.newsticker_controls {
    position: absolute;
    right: 2px;
    top: 1px;
    list-style-type: none;
    list-style-image: none; 
    margin: 0;    
}

.newsticker_style_reveal .newsticker_controls {
    right: 2px;
    top: 1px;
}

.newsticker_controls li {
    float: left;    
    height: 23px;
    width: 34px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.newsticker_controls .pause {
    background-image: url('clean_red/pause.png');       
}

.newsticker_controls .resume {
    background-image: url('clean_red/resume.png');       
}

.newsticker_controls .previous {
    background-image: url('clean_red/previous.png');   
    border-right: 1px solid #c9cacc;
}

.newsticker_controls .next {
    background-image: url('clean_red/next.png');   
    border-left: 1px solid #c9cacc;
}


/* Reveal */
.newsticker_style_reveal .newsticker li {
    left: 10px !important;
}

/* Scroll */
.newsticker_style_scroll .newsticker li {
    margin-right: 20px;
}


/*
THE MARKUP:

<div class="newsticker_wrapper">
	<h4>The Latest</h4>
	<ul class="newsticker">
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</li>
	</ul>
</div>
*/